.container_bsc {
    background-color: white;
    color:black;
    height: 480px;
    width: 1280px;
}

.container_nigth {
    background-color: black;
    color:white;
    height: 480px;
    width: 1280px;
}